/* Logo.css */
.circle-container {
    position: fixed;
    width: 400px; /* Tamaño ajustado del contenedor */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: rotate 20s linear infinite; /* Gira el círculo completo */
    z-index: 10;
  }
  
  .text {
    position: absolute;
    font-size: 1.2rem; /* Tamaño ajustado de las letras */
    font-weight: bold;
    color: #000000;
    transform-origin: center; /* Punto de referencia para rotación */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  