.app-wrapper {
    
    background-color: #696564;
    height: 100vh;
}
.tarjetas-container {   
    padding: 2px;
    text-align: center;     
}

.tarjetas-grid {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 80px auto 40px auto;
    
}

.card {
    margin: 1%; 
    border: 2px solid #000000;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.25s;
    box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.267);
    -moz-transform: scale(1.4) rotate(9deg) translate(0px, 9px) skew(-1deg, 1deg);
    -webkit-transform: scale(1.4) rotate(1deg) translate(0px, 9px) skew(-1deg, 1deg);
    -o-transform: scale(1.4) rotate(1deg) translate(0px, 9px) skew(-1deg, 1deg);
    -ms-transform: scale(1.4) rotate(1deg) translate(0px, 9px) skew(-1deg, 1deg);
     transform: scale(1.04) rotate(0.3deg) translate(0px, 9px) skew(-1deg, 1deg);
}    

.image-container {
    width: 270px; 
    height: 200px; 
    overflow: hidden;
    margin: 10px auto 1px auto; 
    
    border-radius: 2%; 
    border: 2px s
}

/* Imagen dentro del contenedor */
.image-container img {
    width: 100%; 
    height:auto; 
    display: block;
}

#btn-detalle {
    margin-top: 10px;
  }
  
  .full-viewport {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .blank-design {
    font-size: 24px;
    color: #000000;
  }

   