/* components/Title.css */
.title-container {
  position: relative; /* Permite superposición */
    display: flex;
    flex-direction: row; /* Coloca "Reservas" y el dominio en columna */
    align-items:flex-end; /* Centra horizontalmente */
    top: 0px;
    left: 30%;
    width: 300px;  
    gap: 20px;  
    
    
  }
  
  .app-title {
    font-family: 'Montserrat', sans-serif; /* Usar la fuente Montserrat */
    font-size: 6rem; /* Tamaño del texto */
    color: #ff6200; /* Color del texto */
    
    
            
  }
  
  .app-dot-com {
    font-family: 'Montserrat', sans-serif; /* Usar la fuente Montserrat */
    font-size: 3rem; /* Mismo tamaño que el título */
    color: #f3f1f1; /* Color del texto */
      
    
  }

  
  @media (max-width: 700px) {

    .title-container {
      position: fixed;     
      align-items: start; /* Centra horizontalmente */
      padding-left: 30px;
      left: 0px;
      width: 100%;
      top:0px;
      z-index: 20;
      background-color: #1f1f1f
                      
    }

    .app-title {
      font-family: 'Montserrat', sans-serif; /* Usar la fuente Montserrat */
      font-size: 2rem; /* Tamaño del texto */
      color: #ff6200; /* Color del texto */
      margin: 0; /* Quitar márgenes */
    }  

    .app-dot-com {
      font-family: 'Montserrat', sans-serif; /* Usar la fuente Montserrat */
      font-size: 1.5rem; /* Mismo tamaño que el título */
      color: #f3f1f1; /* Color del texto */
  }
}