/* Contenedor de registro */
.registro-container {
  position: fixed;
  height: 70vh;
  left: 33vw;
  top: 20vh;
  
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  border: 2px solid black;    
  box-shadow: 2px 0 15px rgba(5, 5, 5, 0.644);
  z-index: 10; /* Asegúrate de que esté sobre todo lo demás */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

/* Botón de cierre (esquina superior derecha) */
.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
   
}

.close-button:hover {
  color: red;
}


/* Contenido dentro del contenedor de registro */
.registro-content {
  text-align: center;
  width: 100%;
}

.registro-content h2 {
  margin-bottom: 10px;
}

.registro-form {
  width: 100%;
  max-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  width: 40%;
}

.submit-button:hover {
  background-color: #282829;
  color: white;
}

@media (max-width: 768px) {
  .registro-container {
    width: 50%;
    height: auto;
  }
}
