.registro-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: fixed;
  top: 4vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: solid 2px black;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.registro-form .form-group {
  margin-bottom: 15px;
}

.registro-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px)  {
  .registro-container {
    background-color: white;    
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: fixed;
    top: 8vh;
    margin: 40px 30px;
    left: 0;
    right: 0;
    border: solid 2px black;
}
}