.circle-container {
  position: fixed; /* Cambiar a fixed para que permanezca en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
  right: 20px; /* Distancia desde el lado derecho de la pantalla */
  width: 250px;  /* Ajusta según sea necesario */
  height: 250px; /* Ajusta según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-logo {
  position: absolute;
  width: 115px; /* Ajusta el tamaño del logo según tu necesidad */
  height: 115px; 
  z-index: 1; /* Asegúrate de que la imagen esté encima de las letras */
  top:37%;
  right: 17%;
} 

.text-container {
  position: absolute; /* Mantén la posición absoluta */
  width: 100%; /* Tomar todo el ancho del contenedor */
  height: 100%; /* Tomar todo el alto del contenedor */
  top: 10%; /* Centra verticalmente */
  left: 10%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Asegura que el contenedor esté centrado */
  }

.text {
  position: absolute;
  font-size: 16px; /* Ajusta el tamaño de la fuente según tu necesidad */
  transform-origin: 0 0; /* Cambia el origen de la transformación */
  z-index: 0; /* Asegúrate de que las letras estén debajo del logo */
  white-space: nowrap; /* Evita que las letras se apilen */
}
