.App-header {
  background-color: #ffffff00;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(30px + 5vmin); 
  color: rgb(0, 0, 0);

}

.App-link {
  color: #61dafb;
}
/* Estilos básicos para el cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



