.App-header {
  background-color: #e42121e3;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(30px + 5vmin); 
  color: rgb(0, 0, 0);

}

.App-link {
  color: #61dafb;
}
/* Estilos básicos para el cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Mantén el desenfoque solo para el fondo */
.blur-background {
  filter: blur(3px);
}






